---
title: 了解「反混沌」
css:
  - pages/about
banner:
  url: banners/anti-chaos
image: banners/anti-chaos
comments: true
---

<p>「反混沌」，英文是「Anti-chaos」，简称为「NTKS」，是一种思想，是一个计划，是一个组织，也是一个社区。它的宗旨很明确——让前端开发更加有序，让业务开发专注业务。</p>
<h2>介绍</h2>
<p>我们所要反的「混沌」，它是无序、模糊不清的一种状态，会导致混乱，从而使工作变得困难。</p>
<p>不知你有没有遇到过下面几种问题——</p>
<ol>
  <li>在与别人协作时，没有一个统一的规范、协议，实际是同一个东西却表现出了不同的形态，让人困惑；</li>
  <li>就算制定了规范，约定了协议，但执行时又出现问题，要么是干脆不遵守，要么是记不住，就连自己也有时会犯错；</li>
  <li>要实现一个较为复杂的功能，虽然已经有相关的开源项目，但就因为它的扩展性问题，有几个点无法很好地满足需求，致使不得不自己造个轮子；</li>
  <li>前端库/框架更迭太快，正在维护的应用太庞大了，核心逻辑与视图层过于耦合，想升级下技术太难了，简直是伤筋动骨；</li>
  <li>团队里用了不止一个技术栈，它们的使用方式天差地别，如果被安排去做一个跑在之前没用过的技术栈之上的系统的需求，不仅要花时间理解业务，还要去了解那个技术栈的玩法，切换技术栈成本有点高；</li>
  <li>公司开辟新业务，需要做个新系统，但前端很多东西是可以复用的，可实际在复用时要改很多东西，改到怀疑人生；</li>
  <li>……</li>
</ol>
<p>引起这些问题的共同因素之一，就是「混沌」！</p>
<p>「反混沌」会在设计、协作等方面提供一些<a href="/learn/">指导</a>，也会从工程、开发等角度提供一些<a href="/projects/">工具</a>，进而消除「混沌」。</p>
<h2>团队</h2>
<ul class="MemberList">
  {% for mem in site.data.members %}
  <li class="MemberList-item TeamMember">
    <figure class="TeamMember-figure">
      <a class="TeamMember-avatar" href="{{ mem.homepage }}" target="_blank" rel="external nofollow"><img src="{{ 'avatars/' | append: mem.avatar | asset_path }}" /></a>
      <figcaption class="TeamMember-brief"><a href="{{ mem.homepage }}" target="_blank" rel="external nofollow">{{ mem.name }}</a>，{{ mem.position }}</figcaption>
    </figure>
  </li>
  {% endfor %}
  <li class="MemberList-item TeamMember TeamMember--joinUs">
    <a class="TeamMember-avatar" href="/join/"><span>寻找同路人</span></a>
    <div class="TeamMember-brief">加入我们</div>
  </li>
</ul>

{% contentfor footer %}
  {% include widgets/social.html %}
  {% include widgets/toc.html %}
{% endcontentfor %}
