---
title: 加入我们
banner:
  url: banners/anti-chaos
image: banners/anti-chaos
comments: true
---

<h2>我们是谁？</h2>
<p>TBD</p>
<h2>要加入吗？</h2>
<p>要不要加入，是一个双向选择。</p>
<h3>合作伙伴</h3>
<p>为了保障持续的长期发展，需要这几种人长期合作：</p>
<ul>
  <li>进行指南、教程等文字编写的作者；</li>
  <li>参与库、框架等工具开发的开发者；</li>
  <li>负责 LOGO、站点等品牌设计的设计师。</li>
</ul>
<!--p>加入之后，除了 money，将会得到：</p>
<ul>
  <li>个人信息出现在团队成员列表中。</li>
</ul-->
<h3>贡献</h3>
<p>如果无法保持长期合作关系却有什么契合「反混沌」思想的文章想投稿，可以联系。</p>
<h2>如何联系？</h2>
<p>请<a href="mailto:ourairyu@gmail.com" target="_blank" rel="external nofollow">点此发送</a>电子邮件。</p>

{% contentfor footer %}
  {% include widgets/social.html %}
  {% include widgets/toc.html %}
{% endcontentfor %}
